:root {  
  --primLightCyan: hsl(193, 38%, 86%);
  --primNeonGreen: hsl(150, 100%, 66%);

  --secGrayishBlue: hsl(217, 19%, 38%);
  --secDarkGrayishBlue: hsl(217, 19%, 24%);
  --secDarkBlue: hsl(218, 23%, 16%);

}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: var(--secDarkBlue);
  font-family: 'Manrope', sans-serif;  
  line-height: 1.5;
  text-align: center;
}



